<!--Modal base para informativos-->
<div class="modal fade" id="modalInformativo" tabindex="-1" role="dialog" aria-labelledby="informativoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="informativoLabel">Informação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--A mensagem será inserida aqui-->
                <p>{% block mensagem_modal %}Mensagem Padrão{% endblock %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

{% if erro_funcionario %}
    <script type="text/javaScript">
        $(document).ready(function() {
            $('#modalInformativo').modal('show');
        });
    </script>
{% endif %}