<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Cadastro de Funcionários</title>

    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="btn-lg">

    <div class="container text-center align-items-center min-vh-100">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
            <div class="row w-100">
                <h2 class="text-center mb-4">Menu de Cadastro de Funcionários</h2>
                <h4 class="text-center mb-3">Selecione uma opção de ação com os cadastros</h4>
                <div class="input-group mb-3">
                    <select id="action-Select" class="form-select">
                        <option value="incluir">Incluir</option> <!--precisa direcionar ele para a tela importar funcionarios-->
                        <option value="editar">Editar</option> <!--direcionar para visualizar os dados na tela de importar funcionarios-->
                        <option value="excluir">Excluir</option>
                    </select>
                    <button type="button" id="applyAction" class="btn btn-primary">Aplicar Ação</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="my-4 border-top"></div>
    
    
    
    <div class="container mt-5">
        <h2 class="text-center"> Cadastros</h2>
        <div class="table-responsive mt-4">
            <form id="actionForm" method="POST" action="{% url 'aplicar_acao' %}"></form>
                {% csrf_token %}
                <table class="table table-bordered">
                    <thead> <!--cabeçalho da tabela-->
                        <tr>
                            <th>
                                <input type="checkbox" id="selectAll" title="Selecionar todos">
                            </th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Data de Nascimento</th>
                            <th>Data de Admissão</th>
                            <th>Função</th>
                        </tr>
                    </thead>
                    <tbody> <!--corpo da tabela-->
                        {% for funcionario in funcionarios %} <!--está pegando as informações da view-->
                            <tr>
                                <td>
                                    <input type="checkbox" name="Selected[]" value="{{ cbo.id }}" class="selectRow"> 
                                <td>{{ funcionario.cbo }}<td>
                                <td>{{ funcionario.nome }}</td>
                                <td>{{ funcionario.email }}</td>
                                <td>{{ funcionario.data_nascimento }}</td>
                                <td>{{ funcionario.funcao }}</td>
                                <td>{{ funcionario.data_admissao }}</td>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="text-center">Nenhum funcionário cadastrado</td>
                            </tr>  
                        {% endfor %}  
                    </tbody>
                </table>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>    
    <script>
        //Selecionar todos os checkboxes
        document.getElementById('selectAll').addEventListener('change', function() {
            const checkboxes = document.querySelectorAll('.selectRow');
            checkboxes.forEach(cb => cb.checked = this.checked);
        });

        //Aplicar ação ao clicar no botão
        document.getElementById('applyAction').addEventListener('click', function(){
            const form = document.getElementById('actionForm');
            const action = document.getElementById('actionsSelect').value;
            
            
            if (action === "incluir"){
                window.location.href = "{% url 'importar_funcionarios' %}";
            }else if (action === "editar" || action === "excluir") {
                if (document.querySelectAll('.selectRow:checked').length > 0) {
                    form.action = "{% url action %}";
                    form.submit();
                }else{
                    alert("Selecione pelo menos um funcionário para aplicar a ação.")
                }
            }
        });
    </script>

</body>
</html>