<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importar Funcionários</title>

    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'funcionarios/styles.css' %}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="btn-lg">
    
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row w-100">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                <h2 class="text-center mb-4">Importar Funcionarios</h2>
                
                
                <!-- Formulario de Preenchimento Manual -->
                <h5 class="text-center mb-3">Preencher Dados Manualmente</h5>
                <form method="POST" action="{% url 'importar_funcionarios' %}">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form_funcionario %}
                        <div class="col-md-6 mb-3">
                            <label for="{{ field.id_for_label  }}" class="forma-label">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}    
                    </div>
                    <button type="submit" name="manual" class="btn btn-primary w-100">Adicionar Funcionários</button>
                </form>
                
                <div class="my-4 border-top"></div>
                
                <!-- Formulário de Importação de Excel -->
                <h3 class="text-center mb-4">Importar Funcionários de Arquivo Excel</h3>
                <form method="POST" action="{% url 'importar_funcionarios' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form_import %}
                            <div class="col-md-6 mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" name="import" class="btn btn-primary w-100">Importar Funcionários</button>
                </form>
            </div>
        </div>
    </div>
    
<!--Script do bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>    
</body>
</html>