{% extends 'base.html' %} <!-- Deve ser a primeira tag do template -->

{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cadastro de Funcionários{% endblock %}</title>

    <!-- <link rel="stylesheet" href="{% static 'funcionarios/styles.css' %}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="btn-lg">
    {% block content %}

<!--Container invisível para armazenar mensagens-->
<div id="messagesContainer" data-messages="{% for message in messages %}{{ message|escapejs }}{% if not forloop.last %}|||{% endif %}{% endfor %}"></div>

<!-- Modal para exibir mensagem de verificação do upload de excel e manual -->
<div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="responseModalLabel">Resultado do Upload</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>  
</div>

<div class="container d-flex justify-content-center align-items-center min-vh-70">
    <div class="row w-100">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
            <h2 class="text-center mb-4">Cadastro de Funcionarios</h2>

            <!-- Formulario de Preenchimento Manual -->
            <p class="text-start fw-normal mb-3">Preencher Dados Manualmente</p>
            <form method="POST" action="{% url 'importar_funcionarios' %}">
                {% csrf_token %}
                {% if object %} <!--verifica se é um objeto existente de edicao-->
                    <h3 class="text-center mb-4">Editar Funcionario</h3>
                {% else %}
                    <h3 class="text-center mb-4">Novo Funcionario</h3>
                {% endif %}
                
                <!-- Renderiza os campos do formulário -->
                {{ form.as_p }} <!-- Correção aqui: {{ form.as_p }} -->

                <button type="submit" class="btn btn-primary w-100" style="background-color:#c56205 !important; border: #b85c07;">
                    {% if object %} <!--verifica se é edição-->
                        Salvar Alterações
                    {% else %}
                        Adicionar Funcionário
                    {% endif %}
                </button>
            </form>
            
            <div class="my-4 border-top"></div>

            <!-- Formulário de Importação de Excel -->
            <h3 class="text-center mb-4">Importar Funcionários de Arquivo Excel</h3>
            <form method="POST" action="{% url 'importar_funcionarios' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="id_arquivo_excel" class="form-label">Selecione o arquivo excel</label>
                        <input type="file" id="id_arquivo_excel" name="arquivo_excel" class="form-control" style="width: 440px ;font-size: 16px;">
                        {{ form.arquivo_excel }}
                        <div id="fileError" class="form-text text-danger mt-2" style="display:none;">Nenhum arquivo selecionado</div>
                    </div>
                </div>
                <button type="submit" name="import" class="btn btn-primary w-100" style="background-color:#c56205 !important; border: #b85c07;">Importar Funcionários</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

<!--Script do bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>    

<script>
    //Verifica se o campo de arquivo tem um arquivo selecionado
    document.querySelector('input[type="file"]').addEventListener('change', function() {
        var fileIput = this;
        var erroMessage = document.getElementById('fileError');
        
        //Se o arquivo for selecionado, esconde a mensagem de erro
        if (fileIput.files.length > 0) {
            erroMessage.style.display = 'none';
        } else {
            //Se nenhum arquivo for selecionado, exibe a mensagem
            erroMessage.style.display = 'block';
        }        
    });

    //Primeiro bloco de script no javaScript, ela roda a informação do lugar de upload do excel
    console.log("Rodando o script de mensagem de uplaoad de excel...")

    //Essa funcionalidade do pop de feedback do status da ação de importar funcionarios
    document.addEventListener('DOMContentLoaded', function () {
        const messagesContainer = document.getElementById('messagesContainer');

        // Verifica se há mensagens e exibe o modal
        if (messagesContainer && messagesContainer.dataset.messages) {
            const messages = messagesContainer.dataset.messages.split('|||');  // Divide as mensagens
            
            if (messages.length > 0) {
                let messageContent = messages.join('<br>');  // Junta as mensagens com quebra de linha
                document.getElementById('modalMessage').innerHTML = messageContent; // Insere as mensagens no modal

                // Inicia o modal do Bootstrap
                const responseModal = new bootstrap.Modal(document.getElementById('responseModal'));

                // Assegura que o modal é mostrado
                responseModal.show();  
            }
        }   
    });
</script>

</body>
</html>
