<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importar Funcionários</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'funcionarios/styles.css' %}">
</head>
<body>
    
    <div class="container">
        <h2>Importar Funcionarios</h2>

        <!-- Formulario de Preenchimento Manual -->
        <h3>Preencher Dados Manualmente</h3>
        <form method="post">
            {% csrf_token %}
            {{ form_funcioario.as_p }}
            <button type="submit" name="manual" class="button">Adicionar Funcionários</button>
        </form>

        <hr>

        <!-- Formulário de Importação de Excel -->
         <h3>Importar Funcinários de Arquivo Excel</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_import.as_p }}
            <button type="submit" name="import" class="button">Importar Funcionários</button>
            <!-- <label for="excel_file">Arquivo Excel:</label>
            <input type="file" name="excel_file" required>
            <button type="submit">Importar</button> -->
        </form>


    </div>
    
</body>
</html>