<!-- {% for funcionario in funcionarios %}
<div class="modal fade" 
    id="confirmDeleteModal{{ funcionario.cbo }}" 
    tabindex="-1" 
    aria-labelledby="modalExclusaoLabel{{ funcionario.cbo }}" 
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalExclusaoLabel{{ funcionario.cbo }}">Confirmar Exclusão</h5>
                <button 
                    type="button" 
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Fechar">
                </button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir o funcionário <strong>{{ funcionario.nome }}</strong>? 
                Esta ação não pode ser desfeita.
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'funcionarios:excluir_funcionario' nome_funcionario=funcionario.nome %}">
                    {% csrf_token %}
                    <button 
                        type="submit" 
                        class="btn btn-danger">Excluir Cadastro</button>
                    <button 
                        type="button" 
                        class="btn btn-secondary" 
                        data-bs-dismiss="modal">Fechar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %} -->
